.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 300px;
  max-width: 100%;
}
.form__input{
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid var(--color-border);
  padding: 0 10px;
}
.form--error {
  animation: error-animation linear 200ms;
  animation-iteration-count: 3
}

.form--error .form__input {
  border-color: red;
}

.button {
  appearance: none;
  width: 100%;
  height: 35px;
  background-color: var(--color-primary);
  margin-top: 20px;
  border: none;
  color: white;
  box-shadow: var(--shadow-1);
  cursor: pointer;
  transition: transform ease 200ms;
}

.button:not(:disabled):hover {
  transform: scale(1.1);
}

.button:disabled {
  opacity: 0.5;
}

.brand {}

.brand--animation {
  animation: brand-animation ease 5s infinite;
}

@keyframes brand-animation {
  0% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes error-animation{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
  }
}